#contato{
    padding-bottom: 100px;
    
}

.contato h1{
    font-size: var();
    margin-bottom: 20px;
}

.contato ul{
    font-size: var();
    margin-bottom:200px ;
}

#contato a{
    font-style: var(--fonte-subtitulo);
    list-style-type: none;
    color: var(--roxo-claro);
    margin-top: 20px;
}

.container{
    text-align: center;
    margin-top: 40px;
}

.whatsapp-button{
    top: 20px;
    position: relative;
    margin-top: 20px;
    text-decoration: none;
    color: aliceblue;
    background-color: #25D366;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    position:30px;
}

.whatsapp-button:hover{
    background-color: #128c7e;
}

.fa.img-wpp{
    font-size: 40px;
    color: #25D366;
    transition: color 0.3s;
}

.fa.img-wpp:hover{
    color: #128c7e;
}

.container{
    background-color: var(--roxo-medio);
    border-radius: 45px;
    color: var(--cor-branco);
    padding: 10px 17px;
    width: 31%;
    display:flex;
    align-items: center;

}
.container h1{
    padding: 20px;
}

