#experiencias{
    background-color: var(--cor-fundo);
    color: var(--cor-branco);
    padding-bottom: 150px;
    text-align: center;
}

#experiencias h1{
    padding: 20px;
    font-size: var(--fonte-titulo);
}

#experiencias h2{
    padding: 20px;
    color: var(--roxo-claro);
    font-size: var(--fonte-subtitulo);
}

#experiencias p{
    display: flex;
    align-items: start;
    justify-content: center;
}