#habilidades{
    background-color: var(--cor-fundo);
    color: var(--cor-branco);
    padding-bottom: 150px;
    text-align: center;
}

#habilidades h1{
font-size: var(--fonte-titulo);
}

#habilidades ul{
margin-top: 50px; 
display: flex;
justify-content: center;
gap: 30px;
}

#habilidades li{
background-color: #251C31;
padding: 15px;
border-radius: 100%;
display: flex;
width: 100px;
}

#habilidades ul img{
    width: 100%;
    padding: 100%;
}

#habilidades . img{
    width: 70%;
}